.Blog {
  text-align: center;
}

.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Blog li {
  margin: 20px;
  display: inline-block;
}

.Blog a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
  color: hsl(67, 100%, 42%);
  text-shadow: 2px 2px 4px hsl(7, 100%, 43%);
}

.Error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 100;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: green;
  box-sizing: border-box;
  padding: 1rem 2rem;
}
