ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1rem;
}

a:link,
a:active {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: hsl(110, 99%, 45%);
}

a:hover {
  color: hsl(110, 99%, 65%);
}