.App {
  text-align: center;
}

.Heading {
  font-size: 12px;
}

.Heading.Green {
  font-size: 18px;
  color: green;
}

.Heading.Green:hover {
  font-size: 18px;
  color: red;
}

.Btn {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: grey;
  outline: none;
  cursor: pointer;
}

.Btn:hover {
  background-color: lightgrey;
}

.Bold {
  font-weight: bold;
}