.App {
  text-align: center;
}

.Heading {
  font-size: 12px;
}

.Heading.Green {
  font-size: 18px;
  color: green;
}

.Btn {
  color: red;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
}

.Bold {
  font-weight: bold;
}